<div class="default-view login-container">
  <div class="login-wrap">
    <button class="button-18" id="picture-snap">Take Picture</button>

    <div class="label-and-input">
      <label for="user" class="label">Player Name</label>
      <input id="user" type="text" class="input" placeholder="Player Name" required>
    </div>

    <div class="color-picking-grid">
      <button class="color-box" id="Blue"></button>
      <button class="color-box" id="Yellow"></button>
      <button class="color-box" id="Green"></button>
      <button class="color-box" id="Red"></button>
    </div>

    <button class="button-18" id="play-button">Play</button>
  </div>
</div>
